<footer class=" py-5 mt-5">
    <div class="row container mx-auto pt-5">
        <div class="footer-one col-lg-3 col-md-6 col-12">
            <h5 class = "text-uppercase mb-4 font-weight-bold text">About-US</h5>
            <p>Here you can use rows and column</p>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12">
            <h5 class="pb-2">Products</h5>
            <ul class="text-uppercase list-unstyled">
                <li><a href="#">School-Supplies</a> </li>
                <li><a href="#">Groceries</a> </li>
                <li><a href="#">Clothing</a> </li>
                <li><a href="#">About-US</a> </li>
            </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12">
            <h5 class="pb-2">Contact US</h5>
            <div>
                <h6 class="Text-uppercase">Address</h6>
                <p>
                    <i class="bi bi-house-door"> </i>Erie, PA 16503 USA
                </p>
                <h6 class="Text-uppercase">Email</h6>
                <p>
                    <i class="bi bi-envelope"></i> DesiZon@gmail.com
                </p>
            </div>
        </div>
    </div>
    <div class = "Copyright mt-5">
        <div class="row container mx-autp">
            <div class="col-lg-3 col-md-6 col-12 text-nowrap">
                <p>CopyRight @ 2022 All rights reserved by:DesiZon</p>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <li class="list-inline-item">
                    <a href="#" class="btn-floating btn-sm icon"><i class="bi bi-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#"class="btn-floating btn-sm icon"><i class="bi bi-snapchat"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn-floating btn-sm icon"><i class="bi bi-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn-floating btn-sm icon"><i class="bi bi-instagram"></i></a>
                </li>
            </div>
        </div>
    </div>
</footer>