<footer class="bg-dark text pt-5 pb-4 fixed-bottom">

    <div class = "container text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class = "text-uppercase mb-4 font-weight-bold text">About-US</h5>
                <p>Here you can use rows and column</p>
            </div>
            <div class = "col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class = "text-uppercase mb-4 font-weight-bold text">Products</h5>
                <p>
                    <a href="#" class="text" style="text-decoration: none;">School-Supplies</a>


                </p>
                <p>
                    <a href="#"class="text" style="text-decoration: none;">Groceries</a>
                </p>
                <p>
                    <a href="#"class="text" style="text-decoration: none;">Clothing</a>
                </p>
            </div>
            <div class = "col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class ="text-uppercase mb-4 font-weight-bold text" >Contacts</h5>
                <p>
                    <i class="bi bi-house-door"> </i>Erie, PA 16503 USA
                </p>
                <p>
                    <i class="bi bi-envelope"></i> DesiZon@gmail.com
                </p>

            </div>
            <hr class="mb-4">
            <div class="col-md-7 col-lg-8">
                <p>CopyRight @ 2022 All rights reserved by:DesiZon</p>
            </div>
            <div class ="col-md-5 col-lg-4">
                <div class ="text-center text-md-right">
                    <ul class = "list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm icon"><i class="bi bi-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"class="btn-floating btn-sm icon"><i class="bi bi-snapchat"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm icon"><i class="bi bi-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm icon"><i class="bi bi-instagram"></i></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</footer>