<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reset password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/authentication/forgotPassword" method="post">
                    <div class="loginLogo">
                        <img class="loginLogo" src="/images/LOGO.png">
                    </div>
                    <input type="text" style="width: 80%" style="display: inline-block"class="form-control" name="email" placeholder="Email:">
                    <input type="password" style="width: 80%" style="display: inline-block" class="form-control" name="password" placeholder="Password:">
                    <input type="submit" style="margin-left: 5px" class="btn btn-Login" value="Change password"/>
                </form>
            </div>

            <div class="modal-footer">
                <p class="P_member">Need a member?</p>
                <a href='/SignUp' ><button type="button" class="btn btn-createAccount" >Create Account</button></a>
            </div>
        </div>
    </div>
</div>