<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="loginLogo">
                    <img src="/images/LOGO.png">
                </div>
                <input type="text" class="form-control" placeholder="Email:">
                <input type="text" class="form-control" placeholder="Password">
                <button type="button" class="btn btn-Login">login</button>

                <a><p class="P_forgot">Forgot Password?</p></a>
            </div>

            <div class="modal-footer">
                <p class="P_member">Need a member?</p>
                <a href='/SignUp' ><button type="button" class="btn btn-createAccount" >Create Account</button></a>
            </div>
        </div>
    </div>
</div>