<section id="home">
    <div class="container">
        <div class="newArvl">
            <h5>NEW ARRIVALS</h5>
            <h2>Best Price This Week </h2>
            <h6>For both professional and academic needs; <br>ideal for meeting and lecture notes</h6>
            <button class="btn btn-ShopNow">Shop Now</button>
        </div>
    </div>
</section>