<section id="home">
    <div class="container">
        <h5>New ARRIVALS</h5>
        <h2>Best Price<span> This Week</span></h2>
        <p>For both professional and academic needs; <br>ideal for meeting and lecture notes</p>
        <button class="btn btn-ShopNow">ShopNow</button>
    </div>
</section>