<section id = "featured" class="my-5 pb-5">
    <div class ='container text-center mt-5 py-5'>
        <br><br><br>
        <h3>Our Featured Products</h3>
        <hr class="mx-auto">
        <p>Need quality products at a cheaper price? You came to the right place!</p>
    </div>
    <div>
        <div class ="row mx-auto container-fluid">
            <div class="featuredProduct text-center col-lg-3 col-md-4 col-12">
                <img class ="img-fluid mb-3" src="/images/pencils.png">
                <h5 class="productName">Pencil</h5>
                <h4 class="productPrice">$2.00</h4>
             <button class="btn btn-BuyNow">Add to Cart</button>
            </div>
            <div class="featuredProduct text-center col-lg-3 col-md-4 col-12">
                <img class ="iimg-fluid mb-3" src="/images/FillerPaper.png">
                <h5 class="productName">FillerPaper</h5>
                <h4 class="productPrice">$2.25</h4>
                <button class="btn btn-BuyNow">Add to Cart</button>
            </div>
            <div class="featuredProduct text-center col-lg-3 col-md-4 col-12">
                <img class ="img-fluid mb-3" src="/images/BicHighlighter.png">
                <h5 class="productName">Highlighter</h5>
                <h4 class="productPrice">$3.00</h4>
                <button class="btn btn-BuyNow">Add to Cart</button>
            </div>
            <div class="featuredProduct text-center col-lg-3 col-md-4 col-12">
                <img class ="img-fluid mb-3" src="/images/pen.png">
                <h5 class="productName">Pen</h5>
                <h4 class="productPrice">$8.00</h4>
                <button class="btn btn-BuyNow">Add to Cart</button>
            </div>
        </div>
    </div>
</section>
