    <div class ="row mx-auto container-fluid">
            <div class="featuredProduct text-center col-lg-3 col-md-4 col-12">
                <img class ="img-fluid mb-3" src="/images/lamp.jpeg">
                <h5 class="productName">Lamp</h5>
                <h4 class="productPrice">$15.00</h4>
                <button class="btn btn-BuyNow">Add to Cart</button>
            </div>
            <div class="featuredProduct text-center col-lg-3 col-md-4 col-12">
                <img class ="img-fluid mb-3" src="/images/chair.jpeg">
                <h5 class="productName">Wooden Chair</h5>
                <h4 class="productPrice">$30.00</h4>
                <button class="btn btn-BuyNow">Add to Cart</button>
            </div>
            <div class="featuredProduct text-center col-lg-3 col-md-4 col-12">
                <img class ="img-fluid mb-3" src="/images/table.jpeg">
                <h5 class="productName">Study Table</h5>
                <h4 class="productPrice">$50.00</h4>
                <button class="btn btn-BuyNow">Add to Cart</button>
            </div>
            <div class="featuredProduct text-center col-lg-3  col-md-4 col-12">
                <img class ="img-fluid mb-3" src="/images/calculator.jpeg">
                <h5 class="productName">Calculator</h5>
                <h4 class="productPrice">$35.00</h4>
                <button class="btn btn-BuyNow">Add to Cart</button>
            </div>
            <div class="featuredProduct text-center col-lg-3 col-md-4 col-12">
                <img class ="img-fluid mb-3" src="/images/book.jpeg">
                <h5 class="productName">NoteBook</h5>
                <h4 class="productPrice">$5.00</h4>
                <button class="btn btn-BuyNow">Add to Cart</button>
            </div>
            <div class="featuredProduct text-center col-lg-3 col-md-4 col-12">
                <img class ="img-fluid mb-3" src="/images/scissors.jpeg">
                <h5 class="productName">Scissor</h5>
                <h4 class="productPrice">$4.00</h4>
                <button class="btn btn-BuyNow">Add to Cart</button>
            </div>
            <div class="featuredProduct text-center col-lg-3 col-md-4 col-12">
                <img class ="img-fluid mb-3" src="/images/postIts.jpeg">
                <h5 class="productName">Post-it</h5>
                <h4 class="productPrice">$2.00</h4>
                <button class="btn btn-BuyNow">Add to Cart</button>
            </div>
            <div class="featuredProduct text-center col-lg-3 col-md-4 col-12">
                <img class ="img-fluid mb-3" src="/images/stapler.jpeg">
                <h5 class="productName">Stapler</h5>
                <h4 class="productPrice">$3.00</h4>
                <button class="btn btn-BuyNow">Add to Cart</button>
            </div>
        </div>
    </div>
</section>