    <div class ="row mx-auto container-fluid">
            <div class="featuredProduct text-center col-lg-3 col-md-4 col-12">
                <img class ="img-fluid mb-3" src="/images/lamp.jpeg">
                <h5 class="productName">Lamp</h5>
                <h4 class="productPrice">$15.00</h4>
                <form action="/cart" method="post">
                    <input class="d-none" type="text" name="productName" value="Lamp">
                    <input class ="d-none" type="text" name="productImage" value="/images/lamp.jpeg">
                    <input type="number" name="quantity" value="1">
                    <input class="d-none" type="number" name="price" value="15">
                    <input type="submit" class="btn btn-BuyNow" value="Add to Cart"/>
                </form>
            </div>
            <div class="featuredProduct text-center col-lg-3 col-md-4 col-12">
                <img class ="img-fluid mb-3" src="/images/chair.jpeg">
                <h5 class="productName">Wooden Chair</h5>
                <h4 class="productPrice">$30.00</h4>
                <form action="/cart" method="post">
                    <input class="d-none" type="text" name="productName" value="Wooden Chair">
                    <input class ="d-none" type="text" name="productImage" value="/images/chair.jpeg">
                    <input type="number" name="quantity" value="1">
                    <input class="d-none" type="number" name="price" value="30">
                    <input type="submit" class="btn btn-BuyNow" value="Add to Cart"/>
                </form>
            </div>
            <div class="featuredProduct text-center col-lg-3 col-md-4 col-12">
                <img class ="img-fluid mb-3" src="/images/table.jpeg">
                <h5 class="productName">Study Table</h5>
                <h4 class="productPrice">$50.00</h4>
                <form action="/cart" method="post">
                    <input class="d-none" type="text" name="productName" value="Study Table">
                    <input class ="d-none" type="text" name="productImage" value="/images/table.jpeg">
                    <input type="number" name="quantity" value="1">
                    <input class="d-none" type="number" name="price" value="50">
                    <input type="submit" class="btn btn-BuyNow" value="Add to Cart"/>
                </form>
            </div>
            <div class="featuredProduct text-center col-lg-3  col-md-4 col-12">
                <img class ="img-fluid mb-3" src="/images/calculator.jpeg">
                <h5 class="productName">Calculator</h5>
                <h4 class="productPrice">$35.00</h4>
                <form action="/cart" method="post">
                    <input class="d-none" type="text" name="productName" value="Calculator">
                    <input class ="d-none" type="text" name="productImage" value="/images/calculator.jpeg">
                    <input type="number" name="quantity" value="1">
                    <input class="d-none" type="number" name="price" value="35">
                    <input type="submit" class="btn btn-BuyNow" value="Add to Cart"/>
                </form>
            </div>
            <div class="featuredProduct text-center col-lg-3 col-md-4 col-12">
                <img class ="img-fluid mb-3" src="/images/book.jpeg">
                <h5 class="productName">NoteBook</h5>
                <h4 class="productPrice">$5.00</h4>
                <form action="/cart" method="post">
                    <input class="d-none" type="text" name="productName" value="NoteBook">
                    <input class ="d-none" type="text" name="productImage" value="/images/book.jpeg">
                    <input type="number" name="quantity" value="1">
                    <input class="d-none" type="number" name="price" value="5">
                    <input type="submit" class="btn btn-BuyNow" value="Add to Cart"/>
                </form>
            </div>
            <div class="featuredProduct text-center col-lg-3 col-md-4 col-12">
                <img class ="img-fluid mb-3" src="/images/scissors.jpeg">
                <h5 class="productName">Scissor</h5>
                <h4 class="productPrice">$4.00</h4>
                <form action="/cart" method="post">
                    <input class="d-none" type="text" name="productName" value="Scissor">
                    <input class ="d-none" type="text" name="productImage" value="/images/scissors.jpeg">
                    <input type="number" name="quantity" value="1">
                    <input class="d-none" type="number" name="price" value="4">
                    <input type="submit" class="btn btn-BuyNow" value="Add to Cart"/>
                </form>
            </div>
            <div class="featuredProduct text-center col-lg-3 col-md-4 col-12">
                <img class ="img-fluid mb-3" src="/images/postIts.jpeg">
                <h5 class="productName">Post-it</h5>
                <h4 class="productPrice">$2.00</h4>
                <form action="/cart" method="post">
                    <input class="d-none" type="text" name="productName" value="Post It">
                    <input class ="d-none" type="text" name="productImage" value="/images/postIts.jpeg">
                    <input type="number" name="quantity" value="1">
                    <input class="d-none" type="number" name="price" value="2">
                    <input type="submit" class="btn btn-BuyNow" value="Add to Cart"/>
                </form>
            </div>
            <div class="featuredProduct text-center col-lg-3 col-md-4 col-12">
                <img class ="img-fluid mb-3" src="/images/stapler.jpeg">
                <h5 class="productName">Stapler</h5>
                <h4 class="productPrice">$3.00</h4>
                <form action="/cart" method="post">
                    <input class="d-none" type="text" name="productName" value="Stapler">
                    <input class ="d-none" type="text" name="productImage" value="/images/stapler.jpeg">
                    <input type="number" name="quantity" value="1">
                    <input class="d-none" type="number" name="price" value="3">
                    <input type="submit" class="btn btn-BuyNow" value="Add to Cart"/>
                </form>

            </div>
        </div>
    </div>
</section>