body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/*Navigation*/
.narbar{
  front-size:16px;
  font-weight: bold;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
  background-color:#323232!important;
}
.navbar-light .navbar-nav .nav-link {
  padding: 0 20px;
  color: white;
  transition: 0.3s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active{
  color: #FFAFAF;
}
.navbar i{
  font-size: 1.2rem;
  padding: 0 7px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
  color:white;
}

footer{
  background-color:#323232!important;
}
footer h5{
  text-align: center;
  color:white;
  font-weight: 700;
  font-size: 1.4rem;
}
footer h6{
  text-align: center;
  color:darkgray;
  font-weight: 500;
  font-size: 1rem;
}

footer p{
  color: darkgray;
}
footer li,p,i{
  padding-bottom: 5px;
  text-align: center;
}
footer li a{
  alignment: center;
  color: darkgray;
}
footer li a:hover{
  color: #FFAFAF;
}
.Copyright.text-nowrap{
  text-align: center;
}
.text{
  color:white;
}
.Logo{
  width: 70px;
}
.icon{
  font-size:23px;
  color:white;
}
.searchBar{
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  right:0;
  background-color: seashell;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top:60px;
  margin-top: 35px;
}
.btn-Search {
  color: #323232;
}
.form-control{
  width: 80%;
  margin:15px;
}
.container.newArvl p{
  text-align: left;
}
.btn-Login{
  margin-left:160px;
  background-color: #323232;
  color:white;
}
.btn-Login:hover{
  background-color: darkgray;
  color: #323232;
}
.btn-createAccount{
  background-color: #323232;
  color:white;
}
.btn-createAccount:hover{
  background-color: darkgray;
  color: #323232;
}
hr{
  width: 30px;
  height: 2px;
  background-color: #FFAFAF;
}
/* NewArrivalProduct >>>>>>>>>>>>*/
.btn-ShopNow{
  background-color: #323232;
  color:white;
}
.btn-ShopNow:hover{
  background-color: darkgray;
  color: #323232;
}

#home{
  background-image: url("../images/NewNoteBooks.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}
/* Featured Products*/
.btn-BuyNow{
  background-color: #323232;
  color:white;
}
.btn-BuyNow:hover{
  background-color: darkgray;
  color: #323232;
}
.featuredProduct {
  cursor: pointer;
  margin-bottom:2rem;
}
.searchProduct:hover{
  opacity: 0.7;
}
.searchProduct .searchBar{
  background-color:whitesmoke;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s all;
}
.searchProduct:hover .searchBar{
  transform: translateY(0);
  opacity: 1;
}
.featuredProduct img{
  transition: 0.3s all;
}
.featuredProduct:hover img{
  opacity:0.7;
}
.featuredProduct .btn-BuyNow{
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s all;
}
.featuredProduct:hover .btn-BuyNow {
  transform: translateY(0);
  opacity: 1;
}

/*------------------Mateen CSS CODE-------------------*/
.cart-info{
  display: flex;
  flex-wrap: wrap;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;

}
th{
  text-align: left;
  padding: 5px;
  color: white;
  background: #323232;
  font-weight: normal;
}
.headingTable1,.headingTable2,.headingTable3{
  height: 10px;
}
.checkoutTable{
  display: flex;
  padding: 20px;
}
.sumTblHead{
  table-layout: fixed;
  width: 40%;
  flex: 50%;
}
.summaryTBL{
  flex: 0.25;
  padding: 20px;
  height: 360px;
  border: 1px solid #323232;
}
.sumTblHead tr{
  table-layout: fixed;
}
.summaryTBL p{
  align-content: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.summaryTBL a{
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: #323232;
  color:white;
  font-size: 15px;
}
.summaryTBL a:hover{
  background-color: lightgray;
  color: #323232;
}
td{
  padding: 10px 5px;
  margin-bottom: auto;
}
td input{
  width: 45px;
  height: 30px;
  padding: 5px;
}
td a{
  color: #323232;
  font-size: 12px;
}
td a:hover{
  color: red;
}

td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.container-cart{
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.promo{
  margin: auto;
}
.container-cart{
  max-width: 1000px;
  flex: 0.75;
  height: 100px;
  margin: 0 auto;
}
.summary{
  padding-bottom: 10px;
}
.container-cart > h1{
  padding: 20px 0;
}
.cart{
  display: flex;
}
table {
  width: 100%;
}
.summaryTable{
  width: 50%;
  border-left: 3px solid #323232;
}
.sumTblHead img{
  width: 3.5rem;
}
select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: white;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247)
}

.rowTotal {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.colTotal {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.colTotal,
.col-75 {
  padding: 0 16px;
}


input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn-PlaceOrder {
  background-color: #323232;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn-PlaceOrder:hover {
  background-color: darkgray;
  color: #323232;
}

span.price {
  float: right;
  color: grey;
}
.checkoutTable{
  width: 80%;
  margin-left: 10%;
  margin-top: 6%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .rowTotal {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
footer.py-5.mt-5{
  width: 110%;
  margin-right: 0;
}
footer.py-5.mt-5.footer-one{
  color: white;
}
.loginLogoO{
 margin-left: 30%;
}
footer a{
  color: white;
}
footer.SocialMedia{
  align-content: center;
  alignment: center;
}
.list-unstyled li{
  alignment: center;
}
.footer-one.col-lg-3.col-md-6.col-10{
  align-content: center;
}
.about p{
  text-align: justify;
}
.cartFooter{
  margin-top: 40%;
}
.maggie{
  text-align: left;
}
.container-Signup{
  margin-top: 5%;
}