body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/*Navigation*/
.narbar{
  front-size:16px;
  font-weight: bold;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
  background-color:#323232!important;
}
.navbar-light .navbar-nav .nav-link {
  padding: 0 20px;
  color: white;
  transition: 0.3s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active{
  color: #FFAFAF;
}
.navbar i{
  font-size: 1.2rem;
  padding: 0 7px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
  color:white;
}

footer{
  background-color:#323232!important;
}
footer h5{
  color:white;
}
footer h6{
  color: white;
}
footer p{
  color: white;
}

.text{
  color:white;
}
.Logo{
  width: 70px;
}
.icon{
  font-size:23px;
  color:white;
}

.searchBar{
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  right:0;
  background-color: seashell;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top:60px;
  margin-top: 35px;
}

.btn-Search{
  color: #323232;
.form-control{
  width: 80%;
  margin:15px;
}
.btn-Login{
  margin-left:160px;
  background-color: #323232;
  color:white;
}
.btn-Login:hover{
  background-color: darkgray;
  color: #323232;
}
.btn-createAccount{
  background-color: #323232;
  color:white;
}
hr{
  width: 30px;
  height: 2px;
  background-color: #FFAFAF;
}
/* NewArrivalProduct >>>>>>>>>>>>*/
.btn-ShopNow{
  background-color: #323232;
  color:white;
}

#home{
  background-image: url("../images/NewNoteBooks.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}
/* Featured Products*/
.btn-BuyNow{
  background-color: #323232;
  color:white;
}
.featuredProduct {
  cursor: pointer;
  margin-bottom:2rem;

}
.featuredProduct img{
  transition: 0.3s all;
}
.featuredProduct:hover img{
  opacity:0.7;
}
.featuredProduct .btn-BuyNow{
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s all;
}
.featuredProduct:hover .btn-BuyNow {
  transform: translateY(0);
  opacity: 1;
}